/*// Стилизация проекта -*/
/*// index.html - все блоки с user - по 2 в ряд. кнопки/ссылки находяться под информацией про user.*/

/*// Все без исключения элементы, который характеризируют user,post,comment  визуализировать,*/
/*// так, что бы было видно их блоки (дать задний фон + margin. Иными словами - крайне четкая сетка)*/

.users {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.user {
    background: cornflowerblue;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-sizing: border-box;
    border-radius: 5px;
    height: 130px;
    width: 40%;
    padding: 25px;
    margin: 15px;
}
a {
    background: cornsilk;
    height: 30px;
    width: 100px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    color: coral;
}